In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from importlib import reload

pd.set_option('display.max_columns', None)

import sys
sys.path.insert(1,'C:/Users/Sole/Documents/Udemy/feature_engine/feature_engine')

#from missing_data_imputation import *
from categorical_encoder import *

In [2]:
def load_titanic():
    data = pd.read_csv('titanic.csv')
    data['Cabin'] = data['Cabin'].astype(str).str[0]
    data['Pclass'] = data['Pclass'].astype('O')
    data['Embarked'].fillna('C', inplace=True)
    return data

## CountFrequencyCategoricalEncoder

In [3]:
data = load_titanic()
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,n,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,n,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,n,S

In [4]:
data[['Cabin', 'Pclass', 'Embarked']].isnull().sum()

Cabin       0
Pclass      0
Embarked    0
dtype: int64

In [5]:
count_enc = CountFrequencyCategoricalEncoder(encoding_method = 'frequency', variables = ['Cabin', 'Pclass', 'Embarked'])
count_enc.fit(data)

CountFrequencyCategoricalEncoder(encoding_method='frequency',
                 variables=['Cabin', 'Pclass', 'Embarked'])

In [6]:
count_enc.encoder_dict_

{'Cabin': {'A': 0.016835016835016835,
  'B': 0.052749719416386086,
  'C': 0.066217732884399555,
  'D': 0.037037037037037035,
  'E': 0.035914702581369251,
  'F': 0.014590347923681257,
  'G': 0.0044893378226711564,
  'T': 0.0011223344556677891,
  'n': 0.77104377104377109},
 'Embarked': {'C': 0.19079685746352412,
  'Q': 0.086419753086419748,
  'S': 0.72278338945005616},
 'Pclass': {1: 0.24242424242424243,
  2: 0.20650953984287318,
  3: 0.55106621773288444}}

In [7]:
data = count_enc.transform(data)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,0.551066,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0.771044,0.722783
1,2,1,0.242424,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,0.066218,0.190797
2,3,1,0.551066,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0.771044,0.722783
3,4,1,0.242424,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,0.066218,0.722783
4,5,0,0.551066,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0.771044,0.722783

## MeanCategoricalEncoder

In [8]:
data = load_titanic()
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,n,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,n,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,n,S

In [9]:
mean_enc = MeanCategoricalEncoder(variables = ['Cabin', 'Pclass', 'Embarked'])
mean_enc.fit(data, data.Survived)

MeanCategoricalEncoder(variables=['Cabin', 'Pclass', 'Embarked'])

In [10]:
mean_enc.encoder_dict_

{'Cabin': {'A': 0.46666666666666667,
  'B': 0.74468085106382975,
  'C': 0.59322033898305082,
  'D': 0.75757575757575757,
  'E': 0.75,
  'F': 0.61538461538461542,
  'G': 0.5,
  'T': 0.0,
  'n': 0.29985443959243085},
 'Embarked': {'C': 0.55882352941176472,
  'Q': 0.38961038961038963,
  'S': 0.33695652173913043},
 'Pclass': {1: 0.62962962962962965,
  2: 0.47282608695652173,
  3: 0.24236252545824846}}

In [11]:
mean_enc.variables

['Cabin', 'Pclass', 'Embarked']

In [12]:
data = mean_enc.transform(data)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,0.242363,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0.299854,0.336957
1,2,1,0.629630,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,0.593220,0.558824
2,3,1,0.242363,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0.299854,0.336957
3,4,1,0.629630,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,0.593220,0.336957
4,5,0,0.242363,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0.299854,0.336957

## Rare value encoder

In [13]:
data = load_titanic()
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,n,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,n,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,n,S

In [14]:
rare_encoder = RareLabelCategoricalEncoder(tol = 0.03, n_categories=5, variables = ['Cabin', 'Pclass', 'Embarked'])
rare_encoder.fit(data)

RareLabelCategoricalEncoder(n_categories=5, tol=0.03,
              variables=['Cabin', 'Pclass', 'Embarked'])

In [15]:
rare_encoder.encoder_dict_

{'Cabin': Index(['n', 'C', 'B', 'D', 'E'], dtype='object'),
 'Embarked': array(['S', 'C', 'Q'], dtype=object),
 'Pclass': array([3, 1, 2], dtype=object)}

In [16]:
data = rare_encoder.transform(data)

## WoERatioCategoricalEncoder

In [17]:
woe_enc = WoERatioCategoricalEncoder(variables = ['Cabin', 'Pclass', 'Embarked'])
woe_enc.fit(data, data.Survived)

WoERatioCategoricalEncoder(encoding_method='woe',
              variables=['Cabin', 'Pclass', 'Embarked'])

In [18]:
woe_enc.encoder_dict_

{'Cabin': {'B': 1.0704414117014132,
  'C': 0.37729423114146798,
  'D': 1.1394342831883648,
  'E': 1.0986122886681098,
  'Rare': 0.06062462181643484,
  'n': -0.84799110131618016},
 'Embarked': {'C': 0.23638877806423053,
  'Q': -0.44895022004790314,
  'S': -0.67688665968816519},
 'Pclass': {1: 0.53062825106217049,
  2: -0.10880285984879919,
  3: -1.1397703611616172}}

In [19]:
data = woe_enc.transform(data)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,-1.139770,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,-0.847991,-0.676887
1,2,1,0.530628,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,0.377294,0.236389
2,3,1,-1.139770,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,-0.847991,-0.676887
3,4,1,0.530628,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,0.377294,-0.676887
4,5,0,-1.139770,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,-0.847991,-0.676887

## OrdinalCategoricalEncoder

In [20]:
data = load_titanic()
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,n,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,n,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,n,S

In [21]:
data = rare_encoder.transform(data)

In [22]:
ordinal_enc = OrdinalCategoricalEncoder(encoding_method = 'ordered', variables = ['Pclass', 'Cabin', 'Embarked'])
ordinal_enc.fit(data, data.Survived)

OrdinalCategoricalEncoder(encoding_method='ordered',
             variables=['Pclass', 'Cabin', 'Embarked'])

In [23]:
ordinal_enc.encoder_dict_

{'Cabin': {'B': 3, 'C': 2, 'D': 5, 'E': 4, 'Rare': 1, 'n': 0},
 'Embarked': {'C': 2, 'Q': 1, 'S': 0},
 'Pclass': {1: 2, 2: 1, 3: 0}}

In [24]:
data = ordinal_enc.transform(data)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,0
1,2,1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,2,2
2,3,1,0,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,0
3,4,1,2,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,2,0
4,5,0,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,0

In [25]:
data = load_titanic()
data = rare_encoder.transform(data)

In [26]:
ordinal_enc = OrdinalCategoricalEncoder(encoding_method = 'arbitrary', variables = ['Pclass', 'Cabin', 'Embarked'])
ordinal_enc.fit(data, data.Survived)

OrdinalCategoricalEncoder(encoding_method='arbitrary',
             variables=['Pclass', 'Cabin', 'Embarked'])

In [27]:
ordinal_enc.encoder_dict_

{'Cabin': {'B': 5, 'C': 1, 'D': 4, 'E': 2, 'Rare': 3, 'n': 0},
 'Embarked': {'C': 1, 'Q': 2, 'S': 0},
 'Pclass': {1: 1, 2: 2, 3: 0}}

## OneHotCategoricalEncoder

In [28]:
data = load_titanic()
data = rare_encoder.transform(data)

In [29]:
ohe_enc = OneHotCategoricalEncoder(top_categories = None, variables = ['Pclass', 'Cabin', 'Embarked'], drop_last = False)
ohe_enc.fit(data)

OneHotCategoricalEncoder(drop_last=False, top_categories=None,
             variables=['Pclass', 'Cabin', 'Embarked'])

In [30]:
ohe_enc.drop_last

False

In [31]:
ohe_enc.encoder_dict_

{'Cabin': array(['n', 'C', 'E', 'Rare', 'D', 'B'], dtype=object),
 'Embarked': array(['S', 'C', 'Q'], dtype=object),
 'Pclass': array([3, 1, 2], dtype=object)}

In [32]:
data = ohe_enc.transform(data)
data.head()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Pclass_3,Pclass_1,Pclass_2,Cabin_n,Cabin_C,Cabin_E,Cabin_Rare,Cabin_D,Cabin_B,Embarked_S,Embarked_C,Embarked_Q
0,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,1,0,0,1,0,0,0,0,0,1,0,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,0,1,0,0,1,0,0,0,0,0,1,0
2,3,1,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,1,0,0,1,0,0,0,0,0,1,0,0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,0,1,0,0,1,0,0,0,0,1,0,0
4,5,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,1,0,0,1,0,0,0,0,0,1,0,0

In [33]:
data = load_titanic()
data = rare_encoder.transform(data)

In [34]:
ohe_enc = OneHotCategoricalEncoder(top_categories = None, variables = ['Pclass', 'Cabin', 'Embarked'], drop_last = True)
ohe_enc.fit(data)
data = ohe_enc.transform(data)
data.head()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Pclass_3,Pclass_1,Cabin_n,Cabin_C,Cabin_E,Cabin_Rare,Cabin_D,Embarked_S,Embarked_C
0,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,1,0,1,0,0,0,0,1,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,0,1,0,1,0,0,0,0,1
2,3,1,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,1,0,1,0,0,0,0,1,0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,0,1,0,1,0,0,0,1,0
4,5,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,1,0,1,0,0,0,0,1,0

In [35]:
data = load_titanic()
data = rare_encoder.transform(data)

In [36]:
ohe_enc = OneHotCategoricalEncoder(top_categories = 2, variables = ['Pclass', 'Cabin', 'Embarked'], drop_last = False)
ohe_enc.fit(data)
data = ohe_enc.transform(data)
data.head()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Pclass_3,Pclass_1,Cabin_n,Cabin_C,Embarked_S,Embarked_C
0,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,1,0,1,0,1,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,0,1,0,1,0,1
2,3,1,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,1,0,1,0,1,0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,0,1,0,1,1,0
4,5,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,1,0,1,0,1,0

In [37]:
ohe_enc.encoder_dict_

{'Cabin': ['n', 'C'], 'Embarked': ['S', 'C'], 'Pclass': [3, 1]}